<!DOCTYPE html>
<html>
<!-- Arquivo Html só Para deixar o email mas bonito e com toque de proficonalismo -->
<body style="font-family: Arial, sans-serif; padding: 20px;">
    <h1 style="color: #333; ">Olá, {user} !</h1>
    <p>Aqui está o código para confirma seu email:</p>
    <div style="background-color: #f0f0f0; padding: 15px; text-align: center; border-radius: 5px;">
        <h3 style="color: #4CAF50; font-size: 24px;">{token}</h3>
    </div>
    <p>Atenciosamente,
    <br>NunesDev</p>
    
</body>
</html>